[submodule "public"]
	path = public
	url = https://github.com/lgmontenegro/lgmontenegro.github.io.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
